@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #fff;
}

.sectioner {
  padding: 5rem 0;
  /*background-color: #0f3959;*/
   background-image: linear-gradient(to right,  white, white);
}

.heading{
  text-transform: capitalize;
  font-size: 3.5rem;
  letter-spacing: 3px;
  margin-right: -3px;
  margin-bottom: 5rem;
  text-align: center;
  color: black;
  position: relative;
}

.heading::after{
  content: '';
  width: 10rem;
  height: .8rem;
/*  background-color: dodgerblue;*/
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}

.card-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.cardie{
  width: 305px;
  background-image: linear-gradient(to right, grey, grey);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 12px 0;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
  padding: 30px;
  border-radius: 17px;
  padding-top: 75px;
}

.cardie .cardie-img{
  width: 100%;
  height: 260px;
  object-fit: cover;
  -webkit-clip-path:  polygon(0 0, 100% 0, 100% 67%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 67%, 0 100%);
}

.profile-img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -100px;
  z-index: 999;
  border: 10px solid #ebeef8;
}

.cardie h1{
  font-size: 25px;
  content: '';
  color: white;
  margin: 15px 0;
}

.job-title{
  color: white;
  font-size: 15px;
  font-weight: 300px;
}

.aboutie{
  font-size: 15px;
  margin: 15px 0;
  font-style: italic;
  text-align: center;
  color: #333;
}

.cardie .btn{
  padding: 10px 25px;
   background-image: linear-gradient(to right,  #474B4F, #222629);
  background-color: dodgerblue;
  border-radius: 16px;
  margin: 10px 0;
  text-transform: uppercase;
  color: #eee;
  font-size: 14px;
  transition: all .5s;
}

.cardie .btn:hover{
   transform: translateX(-2px);
   box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}

.cardie .btn:active{
  transform: translateY(0);
  box-shadow: none;
}

.social-media{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
  margin: 15px;
  border-top: 1px solid (0,0,0,0.1);
}

.social-media i{
   font-size: 20px;
   transition: color 0.5s;
}

.fa-facebook-square{
  color: #3b5999;
}

.fa-twitter-square{
  color: #55acee;
}

.fa-linkedin{
  background-color: #2867B2;;
  color: white;
}

.fa-facebook-square:hover,
.fa-twitter-square:hover,
.fa-linkedin:hover{
    color: blue;
}

@media screen and (min-width: 700px){
   .card-wrapper{
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
   }

   .cardie{
     margin: 20px;
     transition: transform .5s;
   }

   @keyframes fadeIn{
     from{
       opacity: 0;
     }
     to{
       opacity: 1;
     }
   }

     .cardie:nth-child(1){
       animation: fadeIn .5s .5s backwards;
     }
     .cardie:nth-child(2){
       animation: fadeIn .5s 1s backwards;
     }
     .cardie:nth-child(3){
       animation: fadeIn .5s 1.5s backwards;
     }
     .cardie:nth-child(4){
       animation: fadeIn .5s 2s backwards;
     }
     .cardie:nth-child(5){
       animation: fadeIn .5s 2.5s backwards;
     }
     .cardie:nth-child(6){
       animation: fadeIn .5s 3.0s backwards;
     }
     .cardie:nth-child(7){
       animation: fadeIn .5s 3.5s backwards;
     }

     .cardie:hover{
       transform: scale(1.05);
     }
}
